[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
sqlalchemy = "*"
jupyter = "*"
lab = "*"
pandas = "*"
np = "*"
urlopen = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
